.upload {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.upload form {
	padding: 50px;
	height: 100px;
	margin: 30px;
}

.btn-file input {
	padding: auto;
}

.btn-up input {
	padding: 5px 20px 5px;
	text-align: left;
}

.btn-submit input {
	padding: 5px 15px 5px;
	background-color: rgb(62, 62, 245);
	border: 20px;
	border-radius: 10%;
}