<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Audio Player</title>
</head>
<body>
    <h1>Audio Player</h1>

    <div th:each="audio : ${audioList}">
        <h2 th:text="${audio.title}"></h2>
        <audio th:id="'audioPlayer-' + ${audio.id}" controls>
            <source th:src="@{/audio/{id}(id=${audio.id})}" th:type="@{audio/mpeg}">
        </audio>
        <img th:src="@{/image/{id}(id=${audio.id})}" alt="Image" width="200">
        <button onclick="playAudio('${audio.id}')" type="button">Play</button>
    </div>

    <hr>

    <form th:action="@{/upload}" th:enctype="@{multipart/form-data}" method="post">
        <input type="file" name="audio" accept="audio/*" required>
        <br>
        <input type="file" name="image" accept="image/*" required>
        <br>
        <input type="text" name="title" placeholder="Title" required>
        <br>
        <input type="submit" value="Upload">
    </form>

    <script>
        function playAudio(audioId) {
            var audioPlayer = document.getElementById("audioPlayer-" + audioId);
            audioPlayer.play();
        }
    </script>
</body>
</html>
