<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Spotify - Song Library</title>
	<link rel="stylesheet" th:href="@{css/indexStyle.css}">
	<link rel="stylesheet" th:href="@{css/listStyle.css}">
</head>

<body>
	<div class="sidebar">
		<div class="logo">
			<a th:href="@{/audio}"> <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
					alt="Logo" />
			</a>
		</div>

		<div class="navigation">
			<ul>
				<li><a th:href="@{/audio}"> <span class="fa fa-home"></span> <span>Home</span>
					</a></li>

				<li><a href="#"> <span class="fa fa-search"></span> <span>Search</span>
					</a></li>

				<li><a th:href="@{/listSong}"><span class="fa fas fa-book"></span> <span>Your
							Library</span>
					</a></li>
			</ul>
		</div>
		<div class="policies">
			<ul>
				<li><a href="#">Cookies</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>
		</div>
	</div>

	<div class="main-container">
		<div class="topbar">
			<div class="prev-next-buttons">
				<button type="button" class="fa fas fa-chevron-left" th:id="backButton" disabled></button>
				<button type="button" class="fa fas fa-chevron-right" th:id="forwardButton" disabled></button>
			</div>

			<div class="navbar">
				<ul sec:authorize="!isAuthenticated()">
					<li><a th:href="@{/register}">Register</a></li>
					<li><a th:href="@{/login}">Login</a></li>
				</ul>
				<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="POST">
						<div>
							<label>Hi, <span sec:authentication="name">Username</span></label>
						</div>
						<button type="submit">Logout</button>
					</form>
				</div>
			</div>
		</div>

		<div class="spotify-playlists" th:id="card-Container" th:href="@{/audio/listSong}">
			<h2>Spotify Playlists</h2>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Artist</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="audio : ${audioList}">
						<td>
							<i class="fa fa-play" th:id="playBtn" th:onclick="'togglePlay(' + ${audio.id} + ')'"></i>
						</td>
						<td>
							<img th:src="@{/image/{id}(id=${audio.id})}" class="song-image" />
							<p th:text="${audio.title}"></p>
						</td>
						<td>
							<p th:text="${audio.artist}"></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="bottom" th:each="audio : ${audioList}">
		<div class="icons">
			<!-- fontawesome icons -->
			<i class="fas fa-2x fa-step-backward" th:id="prevBtn" th:onclick="playPrevious(id)"></i> 
			<i class="far fa-2x fa fa-play" th:id="playBtn" th:onclick="'togglePlay(' + ${audio.id} + ')'">
				<audio th:id="audioPlayer"></audio></i> 
			<i class="fas fa-2x fa-step-forward" th:id="nextBtn" th:onclick="playNext(id)"></i>
		</div>
		<div class="songInfo">
			<span id="masterSongName" th:text="${audio.title}"></span>
		</div>
		<div class="progressbar">
			<p th:id="currentTime">0:00</p>
			<input type="range" name="range" th:id="myProgressBar" min="0" value="0" max="100">
			<p th:id="duration">0:00</p>
		</div>
	</div>

</body>
<script th:src="@{https://kit.fontawesome.com/23cecef777.js}" th:crossorigin="anonymous"></script>
<script th:src="@{js/script.js}"></script>
<script th:src="@{js/cartScript.js}"></script>

</html>