<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{css/loginStyle.css}">
</head>
<body>

<div class="cart">
        <div class="login-container">
            <h2>Log in to Spotify</h2>
            <form th:action="@{/login}" method="post">
                <label for="email">Email or username</label>
                <input type="email" placeholder="Email or username" required>

                <label for="password">Password</label>
                <input type="password" placeholder="Password" required>

                <input type="submit" value="Log In">
            </form>
        </div>
</div>
</body>
</html>